.blockquet {
  background-color: #e5e5e5;
  padding: 104px 260px 108px;
  margin-bottom: 101px;
}
.blockquet-box__text {
  margin-bottom: 75px;
}
.blockquet-box {
  text-align: center;
}
.blockquet-box__text > p {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}
.blockquet-img {
  margin-bottom: 17px;
}
.box-text {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.box-text1 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
