.images-box__img {
  margin-right: 18px;
  margin-bottom: 30px;
}
.image-section__title {
    margin-bottom: 60px;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  text-align: center;
  color: #000000;
}
.section-title__span {
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #d67e34;
}
.cookers{
  margin-top: 100px;
}